In [1]:
import pandas as pd
import numpy as np
from scipy import io
from scipy import sparse
import sys
import logging
import seaborn 
import matplotlib.pyplot as plt
from IPython.display import display, Math, Latex
from time import time

from sklearn import metrics
from sklearn.metrics.pairwise import linear_kernel,pairwise_distances
from sklearn.feature_extraction import text as txt
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer, TfidfTransformer, HashingVectorizer
from sklearn import decomposition
from operator import itemgetter
from sklearn.naive_bayes import MultinomialNB


from sklearn.pipeline import Pipeline
from sklearn.preprocessing import Normalizer
from sklearn.cluster import KMeans, MiniBatchKMeans, AffinityPropagation

from optparse import OptionParser

import bs4 as bs4
import re, sys

from nltk import word_tokenize          
from nltk.stem import WordNetLemmatizer
from nltk.tokenize.regexp import WordPunctTokenizer
import nltk

import gensim
from gensim import corpora, similarities, models
from gensim import matutils

%pylab inline

ImportError: No module named gensim

In [125]:
properties_df = pd.read_csv("/Users/bwu/testing/austin_300k_400k_6months_patio_lake_subway_v7.txt", sep = "\t")

In [126]:
properties_df.head()

,﻿listingid,listingtype,listingnumberofbedrooms,listingnumberofbathrooms,listingnumberofstories,listingstyle,listingsquarefeet,listingcurrentprice,listingaddress,patio,lakeview,subway
0,594206391,Condo/Townhome/Row Home/Co-Op,2,3,2,1st Floor Entry,1200,300175,2917 Bond Dr Unit: 243,0,0,0
1,597925463,Single Family Home,3,3,2,No Listing Style,2023,364990,1513 Casa Dr,0,0,0
2,597921271,Single Family Home,3,3,2,No Listing Style,1898,333990,1505 Casa Dr,0,0,0
3,598361991,Single Family Home,3,3,2,"1st Floor Entry,Multi-level Floor Plan,No Adjo...",1683,345000,5616 1st St Unit: 21,0,0,0
4,599060783,Condo/Townhome/Row Home/Co-Op,1,2,1,"Mid Rise (3-9 Stories),See Agent,Single level ...",1048,319000,3600 S Lamar Blvd Unit: 214,0,0,0

In [127]:
properties_df.columns.values

array(['\xef\xbb\xbflistingid', 'listingtype', 'listingnumberofbedrooms',
       'listingnumberofbathrooms', 'listingnumberofstories',
       'listingstyle', 'listingsquarefeet', 'listingcurrentprice',
       'listingaddress', 'patio', 'lakeview', 'subway'], dtype=object)

In [128]:
properties_df.columns = ['listingid', 'listingtype', 'listingnumberofbedrooms',
       'listingnumberofbathrooms', 'listingnumberofstories',
       'listingstyle', 'listingsquarefeet', 'listingcurrentprice',
       'listingaddress', 'patio', 'lakeview', 'subway']

In [129]:
listingtype_df = pd.get_dummies(properties_df['listingtype'])

In [130]:
listingtype_df.head()

   Condo/Townhome/Row Home/Co-Op  Mfd/Mobile Home  Single Family Home
0                              1                0                   0
1                              0                0                   1
2                              0                0                   1
3                              0                0                   1
4                              1                0                   0

In [153]:
final_df = pd.concat([properties_df,listingtype_df], axis=1)

In [154]:
del final_df['listingtype']
del final_df['listingstyle']
del final_df['listingaddress']

In [155]:
final_df.head()

,listingid,listingnumberofbedrooms,listingnumberofbathrooms,listingnumberofstories,listingsquarefeet,listingcurrentprice,patio,lakeview,subway,Condo/Townhome/Row Home/Co-Op,Mfd/Mobile Home,Single Family Home
0,594206391,2,3,2,1200,300175,0,0,0,1,0,0
1,597925463,3,3,2,2023,364990,0,0,0,0,0,1
2,597921271,3,3,2,1898,333990,0,0,0,0,0,1
3,598361991,3,3,2,1683,345000,0,0,0,0,0,1
4,599060783,1,2,1,1048,319000,0,0,0,1,0,0

In [156]:
#LDP LISTING WE ARE LOOKING AT
final_df[final_df['listingid']==604853747]

,listingid,listingnumberofbedrooms,listingnumberofbathrooms,listingnumberofstories,listingsquarefeet,listingcurrentprice,patio,lakeview,subway,Condo/Townhome/Row Home/Co-Op,Mfd/Mobile Home,Single Family Home
472,604853747,3,2,1,2215,350000,0,0,0,0,0,1

In [157]:
#Add Patio to the listing we are looking at
final_df.iloc[472,6] = 1

In [158]:
#LDP LISTING WE ARE LOOKING AT
final_df[final_df['listingid']==604853747]

,listingid,listingnumberofbedrooms,listingnumberofbathrooms,listingnumberofstories,listingsquarefeet,listingcurrentprice,patio,lakeview,subway,Condo/Townhome/Row Home/Co-Op,Mfd/Mobile Home,Single Family Home
472,604853747,3,2,1,2215,350000,1,0,0,0,0,1

In [159]:
final_df.shape

(632, 12)

In [160]:
final_no_listingid_df = final_df.drop('listingid', 1)

In [161]:
final_normalized_df = final_no_listingid_df.apply(lambda x: (x - np.min(x)) / (np.max(x) - np.min(x)))

In [162]:
similarity = np.dot(final_normalized_df.values, final_normalized_df.values.T)

In [164]:
properties_df.iloc[472]

listingid                              604853747
listingtype                   Single Family Home
listingnumberofbedrooms                        3
listingnumberofbathrooms                       2
listingnumberofstories                         1
listingstyle                    No Listing Style
listingsquarefeet                           2215
listingcurrentprice                       350000
listingaddress              2937 Grimes Ranch Rd
patio                                          0
lakeview                                       0
subway                                         0
Name: 472, dtype: object

In [166]:
properties_df.iloc[similarity[472].argsort()[::-1]].head(50)

,listingid,listingtype,listingnumberofbedrooms,listingnumberofbathrooms,listingnumberofstories,listingstyle,listingsquarefeet,listingcurrentprice,listingaddress,patio,lakeview,subway
548,604414659,Condo/Townhome/Row Home/Co-Op,2,2,NaN,1st Floor Entry,965,356000,3110 Red River Unit: 203,0,0,0
415,598491423,Single Family Home,5,5,2,1st Floor Entry,3795,399995,505 Aspen Dr,1,0,0
283,603473947,Single Family Home,4,4,2,No Listing Style,3708,399000,11003 Legends Ln,1,0,0
590,595365379,Single Family Home,4,4,2,No Listing Style,3361,389999,5100 Bonneville Bnd,1,0,0
70,601506039,Single Family Home,5,3,2,No Listing Style,3192,389000,10110 Jupiter Hills Dr,1,0,0
614,599196443,Single Family Home,4,4,2,No Listing Style,3086,389900,2316 Turtle Mountain Bnd,1,0,0
384,601453547,Single Family Home,4,4,2,No Listing Style,2716,399990,5613 Rio Chama Cv,1,1,0
573,604358419,Single Family Home,4,3,2,No Listing Style,3203,393400,1423 Hargis Creek Trl,1,0,0
286,599642883,Single Family Home,4,4,2,No Listing Style,2597,399990,193 Venice Cv,1,0,0
385,601082947,Single Family Home,4,4,1,No Listing Style,2716,394990,5629 Rio Chama Dr,1,0,0
148,603761975,Single Family Home,4,3,2,No Listing Style,2913,399900,2929 Grimes Ranch Rd,1,1,0
193,604431595,Single Family Home,5,4,2,"1st Floor Entry,No Adjoining Neighbor",3105,365000,11100 Desert Willow Loop,1,0,0
252,601466823,Single Family Home,4,3,2,1st Floor Entry,3238,389000,4 Hightrail Way,1,0,0
54,601438627,Single Family Home,4,3,2,No Listing Style,3098,390000,2312 Sully Creek Dr,1,0,0
502,603062671,Single Family Home,4,3,2,No Listing Style,3261,379000,14901 Fernhill Dr,1,0,0
73,598746123,Single Family Home,4,3,2,No Listing Style,2572,399900,4516 Hibiscus Valley Dr,1,0,0
477,603408455,Single Family Home,4,3,1,No Listing Style,2504,399900,12609 Uvalde Creek Dr,1,0,0
466,601405767,Single Family Home,4,4,2,No Listing Style,2512,386060,1305 Sarah Christine Ln,1,0,0
213,599200743,Single Family Home,4,3,1,No Listing Style,2177,399000,102 Maxwell Way,1,0,0
469,593634675,Single Family Home,4,4,2,No Listing Style,2512,373980,204 Gabriela Elyana Ct,1,0,0
444,604670215,Single Family Home,4,3,1,Single level Floor Plan,2523,384900,13453 Mesa Verde,1,0,0
78,604066619,Single Family Home,5,3,1,1st Floor Entry,2619,365000,12508 Pintail Cv,1,0,0
484,603615183,Single Family Home,4,4,2,1st Floor Entry,2299,377990,12216 Cottage Promenade Ct,1,1,0
604,605025839,Single Family Home,4,3,1,No Listing Style,2240,389990,704 Catalina Ln,1,0,0
559,598641507,Single Family Home,4,3,2,No Listing Style,2091,390260,10411 Turnbull Loop,1,0,0
158,599979343,Single Family Home,4,4,2,1st Floor Entry,2496,364214,13129 Olivers Way,1,0,0
509,603227551,Single Family Home,4,3,2,No Listing Style,2387,379000,9104 Sommerland Way,1,0,0
498,594646095,Single Family Home,4,3,1,1st Floor Entry,1791,394495,8012 Burrell Dr,1,0,0
160,599978539,Single Family Home,4,3,2,1st Floor Entry,2803,361596,13128 Olivers Way,1,0,0
445,599698755,Single Family Home,4,3,2,No Listing Style,2829,359900,10107 Pinehurst Dr,1,0,0
228,603664931,Single Family Home,4,4,2,1st Floor Entry,2299,359990,12119 Cottage Promenade Ct,1,1,0
118,603513175,Single Family Home,3,3,2,No Listing Style,2091,394695,10417 Turnbull Loop,1,0,0
190,604355079,Single Family Home,3,3,2,1st Floor Entry,2939,367375,4504 Moose Dr,1,0,0
122,603477455,Single Family Home,3,3,2,No Listing Style,2151,391340,10413 Turnbull Loop Loop,1,0,0
455,601972695,Single Family Home,3,3,2,No Listing Style,2505,379900,13463 Mesa Verde Dr,1,0,0
398,602311443,Single Family Home,4,4,2,1st Floor Entry,2981,334525,7600 Kinross Trl,1,0,0
577,604498663,Single Family Home,4,3,2,No Listing Style,2387,365000,5901 Mesa Verde Cir,1,0,0
346,604546499,Single Family Home,3,3,2,1st Floor Entry,2514,375900,6101 Seville Dr,1,1,0
342,604798947,Single Family Home,3,2,2,No Listing Style,2292,395000,5108 Mccormick Mountain Dr,1,1,0
365,603208751,Single Family Home,3,2,1,1st Floor Entry,2594,385000,305 Navigator Dr,1,0,0
386,604646407,Single Family Home,5,3,2,No Listing Style,2958,324900,2217 Voyageurs Ln,1,0,0
106,598664155,Single Family Home,3,3,2,No Listing Style,2337,374130,708 Ashley Rose Ln,1,0,0
583,603034263,Single Family Home,4,2,1,No Listing Style,1967,379900,7207 Bucknell Dr,1,0,0
131,601435647,Single Family Home,4,2,2,1st Floor Entry,1636,389900,1702 Wooten Dr,1,0,0
508,605003375,Single Family Home,3,2,1,No Listing Style,2119,390000,7909 Menler Dr,1,0,0
230,603735195,Single Family Home,4,2,1,No Listing Style,2067,374950,6805 Debcoe Dr,1,1,0
130,604069267,Single Family Home,4,3,2,No Listing Style,2934,335000,114 Stone View Trl,1,0,0
261,602469259,Single Family Home,4,3,1,No Listing Style,2606,345000,110 Miss Ashley St,1,0,0
486,604497699,Single Family Home,3,2,1,"No Adjoining Neighbor,See Agent",2078,389500,9550 Savannah Ridge Dr Unit: 2,1,0,0
319,599409503,Single Family Home,3,4,1,No Listing Style,2249,357000,9317 Sawyer Fay Ln,1,0,0